{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta Charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title> The dev</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- nav bar section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <li><a href="#home" class="t-white-roboto">Home<i  class="fa-solid fa-house"></i></a> </li>
            <li><a href="#about" class="t-white-roboto">About me<i  class="fa-solid fa-"></i></a> </li>
            <li><a href="#skills" class="t-white-roboto">Skills<i  class="fa-solid fa-code"></i></a> </li>
            <li><a href="#projects" class="t-white-roboto">Projects<i  class="fa-solid fa-project-diagram"></i></a> </li>
            <li><a href="#contact" class="t-white-roboto">Contact me<i  class="fa-solid fa-rocket"></i></a> </li>
        </div>
    </nav>

    <!-- Home section-->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home- left flex items-center">
            <div class="home-content">
                <h6 class="popinss"> Hi i am</h6>
                <h1 class="t-white">Ebenezer Baafi</h1>
                <h4 class="popinss"> Backend Developer</h4>
                <a href="{% static 'pdf/dataAnalysis.pdf' %}" target="_blank">
                    <button class="btn-popinss">Resume</button>
                </a>
                <a class="btn live popinss" id="hireme" href=""
                target="_blank"> Let's talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <img src="{% static 'images/sharpgut.png' %}" alt="myPic">
            </div>
        </div>
    </section>

    <!--About section-->
    <section id="about">
        <h1 class="t center my-2 t-white f-2">About <Menu></Menu></h1>
        <div class="about-container flex s-around">
            <div class="about-left flex s-center items-center">
                <img src="{% static 'images/gtr.png' %}" alt="">
            </div>
        </div>

        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 popinss">Ebenezer Baafi</h1>
                <p class="t-white-popinss"> Just one line of code a day bros</p>
                <a href="btn" id="hireme" href="">Hire me</a>
            </div>
        </div>
    </section>

    <!--Skills Section-->
    <section id="Skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
            <div class="skills-left flex s-center items-center">
                <img src="{% static 'images/skills.jpg' %}" alt="image for skills">
            </div>
            <div class="skills-right flex items-center">
                <div class="skills-container">
                    <div class="java bar p-relative"><span class="bar-content left t-white">Core Java</span>
                        <spanc class="bar-content right-skills t-white">90</spanc></div>

                    <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span>
                        <spanc class="bar-content right-skills t-white">90</spanc></div>

                    <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span>
                        <spanc class="bar-content right-skills t-white">90</spanc></div>
                    <div class="sql bar p-relative"><span class="bar-content left t-white">POSTGRESSQL</span>
                        <spanc class="bar-content right-skills t-white">90</spanc> </div>
                    <div class="python bar p-relative"><span class="bar-content left t-white">Python</span>
                        <spanc class="bar-content right-skills t-white">90</spanc>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Project Section-->
    <section id="Project">
        <h1 class="t-center my-2 t-white f-2"Projects></h1>
        <div class="project-container flex s-center">
            <div class="t-white popinss">Airbnb Clone</div>
            <p>This is my air bnb clone project that i worked on this past weeks</p>
            <div class="button flex s-around">
                <a href="" target="_blank"
                class="btn mx-1 m-top">GitHub</a>
            </div>

            <div class="t-white popinss">Airbnb Clone</div>
            <p>This is my air bnb clone project that i worked on this past weeks</p>
            <div class="button flex s-around">
                <a href="" target="_blank"
                class="btn mx-1 m-top">GitHub</a>
            </div>
        </div>
    </section>

    <!-- Contact me Section-->
    <section id="Contact" class="m-b-1">
        <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
        <div class="Contact-container flex s-around items-center">
            <div class="form" id="contactform">
                <form method="post">
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="popinss" placeholder="Enter your name">
                    </div>
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="popinss" placeholder="Enter your name">
                    </div>
                    <div class="email form-div">
                        <input type="email" name="email" id="email" class="popinss" placeholder="Enter your Email">
                    </div>
                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="popinss" placeholder="Enter your Number"required>
                    </div>
                    <div class="textarea form-div">,.

                        <textarea type="content" name="textarea" cols="30" rows="10" id="name" class="popinss" placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn popinss" id="submit">Send</button>
                </form>
            </div>
            
        </div>
    </section>
</body>
</html>